<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Credits</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid text-center>
        <br>
        <ion-row justify-content-center>
            <ion-col size="6">
                <ion-label class="credits-title" color="primary">Aplikasi ini didukung oleh</ion-label>
            </ion-col>
        </ion-row>
        <ion-item-divider>
        </ion-item-divider>
        <br>
        <ion-row justify-content-center>
            <ion-col size="4">
                <ion-img class="ion-padding" src="../../assets/logo-umn.png" alt="logo-umn.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size="5">
                <ion-img class="ion-padding" src="../../assets/logo-selerasa.png" alt="logo-selerasa.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size="5">
                <ion-img class="ion-padding" src="../../assets/logo-freepik.png" alt="logo-freepik.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size="3">
                <ion-img class="ion-padding" src="../../assets/logo-awesome-color-palette.png"
                         alt="logo-awesome-color-palette.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
