ion-title{
    text-align: center;
}

#icon-toolbar{
    position: absolute;
    z-index: 2 !important;
    top: 2%;
    right: 10%;
    height: 100%;
}

p{
    text-transform: lowercase;
}

.button-fab{
    position: absolute;
    right: 5%;
    bottom: 3%;
    z-index: 2;
}

.icon-fab{
    max-width: 30%;
}

#icon-trash{
    position: absolute;
    right: 5%;
    z-index: 2;
}
