<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
            <ion-tab-button tab="beranda">
                <ion-label>Home</ion-label>
                <ion-icon name="home"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="history">
                <ion-label>History</ion-label>
                <ion-icon name="time"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="bookmark">
                <ion-label>Bookmark</ion-label>
                <ion-icon name="bookmarks"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
