<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>  {{ recipeDetail[0].title }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-fab-button class="fab-bookmark" color="success"
                (click)="handleBookmarkChange(recipeDetail[0].id, recipeDetail[0].title, recipeDetail[0].imageUrl)">
    <img class="fab-bookmark-outline icon-bookmark" src="../../../assets/icon-bookmark-outline.png"
         alt="icon-bookmark-outline.png">
    <div *ngFor="let bookmark of bookmarks; let j = index">
        <img *ngIf="bookmark.title === recipeDetail[0].title" class="icon-bookmark" src="../../../assets/icon-bookmark-fill.png"
             alt="icon-bookmark-fill.png">
    </div>
</ion-fab-button>
<ion-content>
    <ion-card>
        <img *ngIf="recipeDetail[0].imageUrl !== 'N/A'" src="{{ recipeDetail[0].imageUrl }}" alt="menu-image">
        <img *ngIf="recipeDetail[0].imageUrl === 'N/A'" src="../../../assets/no-image-available.png" alt="no-image-available.png">
        <ion-card-content>
            <b class="content-center text-title-1">
                {{ recipeDetail[0].title }}
            </b>
            <br>
            <ion-row>
                <ion-col size="6" no-padding class="content-center">
                    <ion-icon color="primary" name="pizza"></ion-icon>
                    <span> {{ recipeDetail[0].portions }}</span>
                </ion-col>
                <ion-col size="6" no-padding class="content-center">
                    <ion-icon color="primary" name="timer"></ion-icon>
                    <span> {{ recipeDetail[0].duration }}</span>
                </ion-col>
            </ion-row>
            <br>
            <hr>
            <br>
            <div class="ion-text-center text-title-2">
                BAHAN-BAHAN
            </div>
            <br>
            <ion-row *ngFor="let ingredient of recipeDetail[0].ingredients" class="text-title-3">
                {{ ingredient.ingredientType }}
                <ion-row *ngFor="let ingredientDetail of ingredient.ingredientDetail; let idx = index" class="text-detail">
                    <ion-col size="1">
                        {{ idx + 1 }}.
                    </ion-col>
                    <ion-col size="10">
                        {{ ingredientDetail }}
                    </ion-col>
                </ion-row>
                <br>
            </ion-row>
            <hr>
            <br>
            <div class="ion-text-center text-title-2">
                LANGKAH-LANGKAH
            </div>
            <br>
            <ion-row *ngFor="let step of recipeDetail[0].steps" class="text-title-3">
                {{ step.stepType }}
                <ion-row *ngFor="let stepDetail of step.stepDetail; let idx = index" class="text-detail">
                    <ion-col size="1">
                        {{ idx + 1 }}.
                    </ion-col>
                    <ion-col size="10">
                        {{ stepDetail }}
                    </ion-col>
                </ion-row>
                <br>
            </ion-row>
            <br><br><br>
        </ion-card-content>
    </ion-card>
</ion-content>
