<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>  {{ recipes[2] }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-fab-button class="fab-bookmark" color="success"
                (click)="handleBookmarkChange(recipes[0], recipes[2], recipes[6])">
    <img class="fab-bookmark-outline icon-bookmark" src="../../../assets/icon-bookmark-outline.png"
         alt="icon-bookmark-outline.png">
    <div *ngFor="let bookmark of bookmarks; let j = index">
        <img *ngIf="bookmark.title === recipes[2]" class="icon-bookmark" src="../../../assets/icon-bookmark-fill.png"
             alt="icon-bookmark-fill.png">
    </div>
</ion-fab-button>
<ion-content>
    <ion-card>
        <img *ngIf="recipes[6] !== 'N/A'" src="{{ recipes[6] }}" alt="Menu Image">
        <img *ngIf="recipes[6] === 'N/A'" src="../../../assets/no-image-available.png" alt="no-image-available">
        <ion-card-content>
            <b class="content-center text-title-1">
                {{ recipes[2] }}
            </b>
            <br>
            <ion-row>
                <ion-col size="6" no-padding class="content-center">
                    <ion-icon color="primary" name="pizza"></ion-icon>
                    <span> {{ recipes[5] }}</span>
                </ion-col>
                <ion-col size="6" no-padding class="content-center">
                    <ion-icon color="primary" name="timer"></ion-icon>
                    <span> {{ recipes[3] }}</span>
                </ion-col>
            </ion-row>
            <br>
            <hr>
            <br>
            <div class="ion-text-center text-title-2">
                BAHAN-BAHAN
            </div>
            <br>
            <ion-row *ngFor="let bahan of recipes[1]" class="text-title-3">
                {{ bahan['jenisBahan'] }}
                <ion-row *ngFor="let recipe2 of bahan['bahanBahan'] let idx = index" class="text-detail">
                    <ion-col size="1">
                        {{ idx + 1 }}.
                    </ion-col>
                    <ion-col size="10">
                        {{ recipe2 }}
                    </ion-col>
                </ion-row>
                <br>
            </ion-row>
            <hr>
            <br>
            <div class="ion-text-center text-title-2">
                LANGKAH-LANGKAH
            </div>
            <br>
            <ion-row *ngFor="let langkah of recipes[4]" class="text-title-3">
                {{ langkah['jenisLangkah'] }}
                <ion-row *ngFor="let recipe2 of langkah['langkahLangkah'] let idx = index" class="text-detail">
                    <ion-col size="1">
                        {{ idx + 1 }}.
                    </ion-col>
                    <ion-col size="10">
                        {{ recipe2 }}
                    </ion-col>
                </ion-row>
                <br>
            </ion-row>
            <br><br><br>
        </ion-card-content>
    </ion-card>
</ion-content>
