<ion-header color="tertiary">
    <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
            <ion-col size="6">
                <ion-img class="logo-resepku" src="../../assets/logo-resepku.png"></ion-img>
            </ion-col>
            <ion-col size="6">
                <ion-button class="ion-no-margin bt-credits" shape="round"
                            [routerLink]="['/credits']">Credits
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-searchbar [(ngModel)]="searchQuery" class="search-bar" show-cancel-button="focus"
                           placeholder="Cari resep di sini..."
                           color="success"></ion-searchbar>
        </ion-col>
        <ion-col size="2.5">
            <ion-fab-button (click)="handleSearchButtonClick()" color="secondary" class="search-button"
                            class="button-fab" size="small">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-col>
    </ion-row>
    <ion-grid id="grid-menu">
        <div class="ion-text-center text">
            <div class="quotes">
                No one is born a great cook. One learns by doing.<br>
            </div>
            <ion-text class="bold"> - Julia Child -</ion-text>
        </div>
        <ion-row>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'daging']">
                    <ion-img class="icon-recipe" src="../../assets/icon-daging.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'nasi']">
                    <ion-img src="../../assets/icon-nasi.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'sayuran']">
                    <ion-img src="../../assets/icon-sayuran.png"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'ikan']">
                    <ion-img class="icon-recipe" src="../../assets/icon-ikan.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'mi']">
                    <ion-img src="../../assets/icon-mi.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'kue']">
                    <ion-img src="../../assets/icon-kue.png"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'masakanJepang']">
                    <ion-img class="icon-recipe" src="../../assets/icon-masakan_jepang.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'masakanTiongkok']">
                    <ion-img src="../../assets/icon-masakan_tiongkok.png"></ion-img>
                </div>
            </ion-col>
            <ion-col class="col-menu">
                <div [routerLink]="['./', 'masakanItalia']">
                    <ion-img src="../../assets/icon-masakan_italia.png"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list id="list-menu">
        <div id="searchRecipeList">
            <ion-item *ngFor="let idx of searchingData; let i = index"
                      [routerLink]="['./' + searchingData[i].type + '/' + searchingData[i].id]"
                      (click)="handleHistoryChange(searchingData[i].id, searchingData[i].judul, searchingData[i].type, searchingData[i].gambar)"
            >
                {{ searchingData[i].judul }}
            </ion-item>
        </div>
        <div id="list-none">
            <ion-item>
                Tidak menemukan hasil.
            </ion-item>
        </div>
    </ion-list>
</ion-content>
