.btn-header{
  max-height: 30px;
  max-width: 80px;
}

.btn-credits {
  float: left;
}

.logo-center {
  display: flex;
  justify-content: center;
}

.logo-risetta {
  max-width: 100px;
}

.btn-exit {
  float: right;
}

.txt-container-quotes {
  font-size: smaller;
  margin-bottom: 13.5px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-menu-type-1 {
  background: #FAF3EB;
  font-size: smaller;
  color: #0F2A55;
  padding: 2px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -o-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  -o-box-shadow: 0 0 3px #ccc;
  -ms-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.label-menu-type-2 {
  font-size: small;
  color: #0F2A55;
}

.label-menu-type-margin-1 {
  margin: 0 19.5%;
}

.label-menu-type-margin-2 {
  margin: 2% 50% 2% 8px;
}

.mark-no-list{
  padding-top: 30%;
}

.label-not-found {
  padding: 10px 0px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
