.logo-resepku {
  max-width: 100px;
  text-align: center;
  padding: none;
}

.text-resepku {
  font-weight: bold;
}

.icon-recipe {
  width: 100% !important;
  margin: auto !important;
  display: block !important;
}

ion-grid {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.bt-credits {
  max-height: 30px;
  max-width: 80px;
  float: right;
}

ion-row {
  ion-card {
    width: 100% !important;
    margin: 0 !important;
  }
}

.text {
  font-size: small;
  margin-top: 15px;
  margin-bottom: 25px;
}

.bold {
  font-weight: bold
}

.quotes {
  margin-bottom: 3px !important;
}

h3, .search-bar {
  padding-right: 0px !important;
}

.search-button {
  width: 85%;
  padding-right: 0% !important;
  padding-top: 5% !important;
  margin-top: 5% !important;
  height: 80%;
}
