<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Menu {{menuTitle}}</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-searchbar placeholder="Cari menu {{menuTitle}}" color="success"></ion-searchbar>
  <ion-grid>
    <ion-row>
        <ion-col *ngFor="let recipe of recipeData; let i = index" align-items-stretch size="6">
            <ion-card>
<!--                   [routerLink]="['./', recipe.id]" class="card-flex" (click)="setRecipeData(recipe.title, recipe.id, recipe.servings, recipe.readyInMinutes)"&ndash;&gt;-->

                <ion-img class="thumbnail-recipe" src="{{recipeData[i]['gambar']}}"></ion-img>
              <ion-card-content>
                <div class="text-title">
                    {{recipeData[i]['judul']}}
                </div>
                <br>
                <ion-row>
                  <ion-col size="6" no-padding>
                      <ion-icon color="primary" name="pizza"></ion-icon>
                      <span class="info-content">
                         {{recipeData[i]['porsi']}}
                      </span>
                  </ion-col>
                  <ion-col size="6" no-padding>
                      <ion-icon color="primary" name="timer"></ion-icon>
                      <span class="info-content">
                         {{recipeData[i]['lama']}}
                      </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
