<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Menu {{menuTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-center">
        <img class="logo-resepku2" src="../../../assets/logo-resepku-2.png" alt="">
    </div>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let recipes of recipesData; let i = index;" align-items-stretch size="6">
                <ion-card
                        class="card-flex"
                >
                    <ion-fab-button class="button-fab" size="small" color="success"
                                    (click)="handleBookmarkChange(i, recipesData[i]['judul'], recipesData[i]['gambar'])">
                        <img id="fabBookmarkOutline" class="icon-fab" src="../../../assets/icon-bookmark-outline.png"
                             alt="icon-bookmark-outline.png">
                        <div *ngFor="let bm of bookmark; let j = index" id="fabDiv">
                            <img *ngIf="bookmark[j].title === recipesData[i]['judul']" class="icon-fab"
                                 src="../../../assets/icon-bookmark-fill.png" alt="icon-bookmark-fill.png">
                        </div>
                    </ion-fab-button>
                    <ion-img (click)="handleHistoryChange(i, recipesData[i]['judul'], menuType, recipesData[i]['gambar'])" [routerLink]="['./', i]" *ngIf="recipesData[i]['gambar'] !== 'N/A'"
                             class="thumbnail-recipe" src="{{recipesData[i]['gambar']}}"></ion-img>
                    <img (click)="handleHistoryChange(i, recipesData[i]['judul'], menuType, recipesData[i]['gambar'])" [routerLink]="['./', i]" *ngIf="recipesData[i]['gambar'] === 'N/A'"
                         src="../../../assets/no-image-available.png" alt="no-image-available">
                    <ion-card-content (click)="handleHistoryChange(i, recipesData[i]['judul'], menuType, recipesData[i]['gambar'])" [routerLink]="['./', i]">
                        <div class="text-title">
                            {{recipesData[i]['judul']}}
                        </div>
                        <br>
                        <ion-row>
                            <ion-col size="6" no-padding>
                                <ion-icon color="primary" name="pizza"></ion-icon>
                                <span class="info-content">
                         {{recipesData[i]['porsi']}}
                      </span>
                            </ion-col>
                            <ion-col size="6" no-padding>
                                <ion-icon color="primary" name="timer"></ion-icon>
                                <span class="info-content">
                         {{recipesData[i]['lama']}}
                      </span>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
