ion-row {
  ion-card {
    width: 100% !important;
    margin: 0 !important;
  }
}

.text-title {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 38px;
  font-size: 15px;
  line-height: 1.2;
  color: black;
  font-weight: bold;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-recipe {
  width: 100%;
  height: 165px;
  object-fit: cover !important;
}

.text-content {
  font-size: 8px;
}

.card-flex {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  margin: 0 !important;
}

ion-icon {
  height: 100%;
  vertical-align: text-bottom;
}

.info-content {
  font-size: 15px;
  vertical-align: text-bottom;
}

.logo-resepku2 {
  padding-top: 10px;
  width: 30%;
}

.button-fab {
  position: absolute;
  right: 0px;
}

.icon-fab {
  max-width: 10px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fabBookmarkOutline {
  position: absolute;
  z-index: -1;
}

